snapshots/
summary/
__pycache__/
*.tgz
datasets/
results/
*.txt
*.iml
*.xml
*.tfrecords
*.pyc
.nfs*
*.npy
*.o
src/graphcnn/plots/*.csv
src/graphcnn/plots/*.png
logs/
plot_rand_mp.py
plots/
run_evolution_cuda03.sh
run_evolution_cuda04.sh
run_evolution_cuda05.sh
run_evolution_mil09.sh
run_nci_cluster.sh
